<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.istockphoto.com/photos/cybersecurity-and-secure-nerwork-concept-data-protection-gdrp-glowing-picture-id1197780051?k=20&m=1197780051&s=612x612&w=0&h=hUVHAXTr1RsEq7sWyDkXGPQzhwg3bUcJDgWKh-d0Qp4=" class="d-block w-100" alt="..." height="500px" width="900px">
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/1428481.jpg" class="d-block w-100" alt="..." height="500px" width="900px">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.istockphoto.com/photos/cyber-security-it-engineer-working-on-protecting-network-against-picture-id1322517295?b=1&k=20&m=1322517295&s=170667a&w=0&h=x4Kmx8fQytr6VPfuKwE381xf-rfiBFctyXvpb7o5ju8=" class="d-block w-100" alt="CS" height="500" width="800">
    </div>
  </div>
</div>
<h3 style="margin-top: 30px ;">Articles</h3>
<hr>


<div class="container-fluid">
  <div class="card" style="width: 18rem;">
    <img src="https://nyesteventuretech.com/images/Machine-Learning.jpg" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">Machine Learning</h5>
      <p class="card-text">{{mldata[0].ml}}</p>
      <a href="https://www.geeksforgeeks.org/machine-learning/" class="btn btn-primary">Show Article</a>

    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/photos/cybersecurity-and-secure-nerwork-concept-data-protection-gdrp-glowing-picture-id1197780051?k=20&m=1197780051&s=612x612&w=0&h=hUVHAXTr1RsEq7sWyDkXGPQzhwg3bUcJDgWKh-d0Qp4=" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">Cyber Security</h5>
      <p class="card-text">{{mldata[1].cs}}</p>
      <a href="https://www.simplilearn.com/tutorials/cyber-security-tutorial/what-is-cyber-security" class="btn btn-primary">Show Article</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHTHWzzAss4ewJmNWk_gzi0yPbnrmSTXQLDfEq2kV9sRlKatXj7KkqOgfgIpFan1-PhuA&usqp=CAU" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">Computer Network</h5>
      <p class="card-text">{{mldata[2].cn}}</p>
      <a href="https://www.geeksforgeeks.org/basics-computer-networking/" class="btn btn-primary">Show Article</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--AO0dFdQ5--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/srnvrd7vfeeq5qpxnabq.png" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">Data Structure</h5>
      <p class="card-text">{{mldata[3].ds}}</p>
      <a href="https://www.geeksforgeeks.org/data-structures/" class="btn btn-primary" >Show Article</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://imageio.forbes.com/specials-images/imageserve/5f9fa9e815da35da1356a28b/The-5-Biggest-Cloud-Computing-Trends-In-2021/960x0.jpg?format=jpg&width=960" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">Cloud Computing</h5>
      <p class="card-text">{{mldata[4].cc}}</p>
      <a href="https://www.ibm.com/cloud/learn/cloud-computing" class="btn btn-primary">Show Article</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://media.kasperskycontenthub.com/wp-content/uploads/sites/43/2018/09/18085355/abstract-iot-1000x600.jpg" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">Internet of Things</h5>
      <p class="card-text">{{mldata[5].iot}}</p>
      <a href="https://www.oracle.com/in/internet-of-things/what-is-iot/" class="btn btn-primary">Show Article</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">C++</h5>
      <p class="card-text">{{mldata[6].cpp}}</p>
      <a href="https://www.geeksforgeeks.org/c-plus-plus/" class="btn btn-primary">Show Article</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://ares.decipherzone.com/blog-manager/uploads/banner_3ceec8dc-c260-47d9-a8f8-79dd0ee7ea37.jpg" class="card-img-top" alt="ML" height="200px" width="200px">
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">{{mldata[7].wd}}</p>
      <a href="https://www.w3schools.com/whatis/" class="btn btn-primary">Show Article</a>
    </div>
  </div>
</div>

